<nav class="navbar navbar-expand navbar-dark bg-dark d-flex justify-content-between">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/upload">Upload File</a>
        <a class="nav-item nav-link" routerLink="/votes">Votes</a>
    </div>
    <div class="navbar-nav">
        <a class="nav-item nav-link" >{{currentUser.login}}</a>
        <a class="nav-item nav-link with-margin"  routerLink="/login" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <router-outlet></router-outlet>
</div>

<div class="footer">
    <span class="copyright">Copyright © 2022 Serega & Max development. Slava Ukraine</span>
</div> 

